.tile {
    width: 20px;
    display: inline-block;
}

.floor {
    background-color: grey;
}

.wall {
    background-color: black;
}

.player {
    background-color: blue;
}

.row, .tile {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    height: 20px;
}