html, body {
    margin: 0;
}

.tile {
    width: 10px;
    display: inline-block;
}

.floor {
    background-color: grey;
}

.wall {
    background-color: black;
}

.player {
    background-color: blue;
}

.health {
    background-color: green;
}

.enemy {
    background-color: red;
}

.exit {
    background-color: fuchsia;
}

.row, .tile {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    height: 10px;
}